<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/notfoundstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"   rel="stylesheet">
    <title>Groupie tracker - Error 404</title>
</head>
<body>
    <section id="Notfound">
        <nav class="navbar">
            <div class="inner-width">
                <a href="/" class="logo">Groupie Tracker</a>
                
                
                <div class="navbar-menu">
                    <a href="/">Home</a>
                    <a href="/Artiste">Artiste</a>
                    <a href="/Concert">Concert</a>
                    <a href="/Filtre">Filtre</a>
                </div>
                
            </div>   
        </nav>

        <div class="message">
            <p>Page not found</p>
        </div>


        <footer>
            <div class="inner-width">
                <v class="copyright">
                    &copy; 2020-2021 | Created & Designed By <a href="#">Mathis - Amaury - Guillaume - Clément</a> 
                </div>
                <div>
                    <i class="fab fa-angrycreative" class="coolfinish"></i>
                </div>
            </div>
        </footer>
    </section>

</body>
</html>